doctype html
html
  head
    title Complete Payment
    link(rel="stylesheet", href="/css/styles.css")
    script.
      setTimeout(() => {
        window.location.href = 'https://www.linkedin.com/feed/'; // Redirect to LinkedIn
      }, 5_000);
  body
    .container
      if error
        .error #{error}
      else
        h2 Payment complete 🎉 
        p.center It may take a few seconds for your new queries to be available. 
        p.center You will be redirected to LinkedIn in 5 seconds.